# Python
__pycache__/
*.py[cod]
*.env
.env

# Jupyter Notebook
.ipynb_checkpoints

# VS Code
.vscode/

# macOS
.DS_Store

# Streamlit
.streamlit/*
!.streamlit/config.toml

# Environment
*.log
*.sqlite3
